@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 100%;
    background-image: url("../../img/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.heroContent {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 8px;
    width: 50%;
    height: 70%;
    border-radius: 18px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.heroContent h2 {
    color: #4a6c75;
    font-size: 34px;

}

.heroContent h3 {
    color: hsl(34.29deg 4% 34.31%);
    font-size: 14px;

}

.heroContent p {
    color: hsl(60deg 1.89% 31.18%);
    overflow: auto;
}

.heroContent button {
    color: #fff;
    background-color: #4a6c75;
    padding: 15px;
    border-radius: 18px;
    --bs-btn-color: #4a6c75;
    --bs-btn-hover-border-color: #4a6c75;
    --bs-btn-hover-bg: #f9f4ea;
    --bs-btn-hover-border-color: #4a6c75;
    --bs-btn-hover-color: #4a6c75;
}



@media (max-width: 768px) {
    .heroContent h2 {
        font-size: 18px;
    }

    .heroContent p {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .heroContent h2 {
        font-size: 26px;
    }

    .heroContent p {
        font-size: 22px;
    }
}

@media (max-width: 550px) {
    .heroContent p {
        height: 100px;
    }

    .heroContent {
        width: 60%;
    }
}

.username {
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #4a6c75;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #eeeeee;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.username:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}