.bg-body-tertiary {
    background-color: rgb(238 238 238) !important;
}

form.d-flex {
    gap: 10px;
}

.auth .nav-link.btn {
    padding: 10px;
    border: #4a6c75 1px solid;
    color: #4a6c75;
}

.auth .nav-link.btn:hover {
    color: #eee;
    background-color: #4a6c75;
    border: #4a6c75 1px solid;
}

.auth .nav-link.active {
    background-color: #4a6c75;
    color: #eee;
}

.navbar-nav .nav-link.active {
    border-bottom: #4a6c75 solid 2px;
}

nav img {
    border-radius: 50%;
    display: block;
}

.logoClass {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(238 238 238) !important;
}